Hey <%= @followed.first_name %>,<br /><br />

<a href="<%= person_url(@follower, :host => 'fnnny.com') %>" target="_blank"><%= @follower.display_name %></a> loves you! Or at least thinks you're funny, and is now following you on <%= configatron.app_name %>.<br /><br />

You can <a href="<%= person_url(@follower, :host => 'fnnny.com') %>" target="_blank">view their profile</a> or <a href="<%= person_url(@follower, :host => 'fnnny.com') %>" target="_blank">follow them back</a>.<br /><br />

Sincerely,<br />
<%= configatron.app_name %><br />