Welcome <%= @user.first_name %>, welcome. <%= configatron.app_name %> welcomes you.<br /><br />

Log in to the <a href="<%= root_url(:host => 'fnnny.com') %>" target="_blank">homepage</a> to see <a href="<%= root_url(:host => 'fnnny.com') %>" target="_blank">recent <%= configatron.app_name %> posts</a>. Do this often.<br /><br />

Some people you might want to follow:<br />
http://<%= configatron.app_url %>/people/john-mcgrath<br />
http://<%= configatron.app_url %>/people/kristy-dahl<br /><br />

You can find <%= configatron.app_name %> posts by category on, as you might expect, <a href="<%= tags_url(:host => 'fnnny.com') %>" target="_blank">category pages</a>.<br /><br />

If you have questions or suggestions please write <%= configatron.contact_email %>, or just reply to this email.<br /><br />

Thanks, and enjoy.<br />
John<br />