.hero-unit{:style => 'width: 80%; padding: 20px 25px 45px 40px; height: 500px;'}
  -# .well
  %h1{:style => 'margin-bottom: 20px;'}
    #{configatron.app_name.capitalize}
  %p
    -# A compendium of amusing things.
    -# A compendium of funny things.
    -# A compendium of delight and amusement.
    -# Discover and share delightful and amusing things.
    = t(:description1)
    <br />
    = t(:description2)
  %p{:style => 'margin-top: 25px;'}
    = link_to "#{t(:sign_in_with).humanize } Facebook", @auth_url, :class => 'btn btn-primary btn-large'
  -#   
  -# %p
  -#   = link_to 'drop', '#', :onclick => "addToHome.show();"