- if user_signed_in?

  - if @items.blank?
    = render :partial => "home/getting_started"
    
  - else
    - @items.each do |item|
      = render :partial => "items/item", :locals => {:item => item}
      
- else
  .hero-unit
    %h1
      #{configatron.app_name.capitalize}
    %p
      A compendium of amusement.
      -# A compendium of amusing things.
      -# A compendium of delight and amusement.
      -# Discover and share delightful and amusing things.
      
    %p
      = link_to "Sign in with Facebook", omniauth_authorize_path(User, 'facebook'), :class => 'btn btn-primary btn-large'
  
  -# = link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary', :style => 'width: 200px; height: 25px; padding-top: 8px; margin: 25px 0; font-size: 18px;'
    
  -# %p
  -#   or #{link_to 'log in', new_session_path(User.new) }
