- if user_signed_in?
  
  %div{:style => 'font-size: 11px; background-color: #ddd; padding: 6px 10px 4px 10px;'}
    Posts from&nbsp;
    - if @following_count > 0
      [
      - if @show_all
        <b>everyone</b> | #{link_to 'your people', root_path(:show => 'follows')}
      - else
        #{link_to 'everyone', root_path(:show => 'everyone')} | <b>your people</b>
      ]
      -# - if @following_count < 5
      -#   %div{:style => 'color: #555;'}
      -#     follow 5 or more people to default to people you follow
    - else
      everyone. #{link_to 'Follow people', people_path} to only see posts from your people.
  
  - if params[:from] && params[:from] == 'friends'
    .alert{:style => 'margin-top: 20px;'}
      .button{:type => 'button', :class => 'close', :'data-dismiss' => 'alert'}
        &times;
      = t('invitations_sent.html')
      
  %ul#items
    - @items.each do |item|
      %li= render :partial => "/items/item", :locals => {:item => item}
      
    = render :partial => '/items/more' unless @items.size < Item::PER_PAGE
    
- else
  = render :partial => '/home/sign_in'

- if @items.present?
  :javascript
    last_item_id = #{@items.first.id};