- if user_signed_in?

  - if @items.blank?
    = render :partial => "home/getting_started"
    
    
    
  - else
    -# .page-header
    -#   %h1
    -#     #{configatron.app_name} today:
        
    - @items.each do |item|
      = render :partial => "items/item", :locals => {:item => item}
      
      
      
- else
  .page-header
    %h2
      #{configatron.app_name.capitalize} helps you discover and share funny stuff.
  
  = link_to "Sign in with Facebook", omniauth_authorize_path(User, 'facebook'), :class => 'btn btn-primary', :style => 'width: 200px; height: 25px; padding-top: 8px;'
  
  -# = link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary', :style => 'width: 200px; height: 25px; padding-top: 8px; margin: 25px 0; font-size: 18px;'
    
  -# %p
  -#   or #{link_to 'log in', new_session_path(User.new) }
