- if user_signed_in?
  
  - if @items.blank?
    = render :partial => "home/getting_started"
    
  - else
    :css
      /* Landscape phones and down */
      @media (max-width: 480px)  {
          .left {
              float: left !important;
              width: 80px !important;
          }
          
          .right {
              float: right !important;
              width: 270px !important;
          }
      }
      
      /* Landscape phone to portrait tablet */
      @media (min-width: 480px) and (max-width: 580px) {
        .left {
            float: left !important;
            width: 80px !important;
        }
        
        .right {
            float: right !important;
            width: 350px !important;
        }
      }
      
      /* Landscape phone to portrait tablet */
      @media (min-width: 580px) and (max-width: 680px) {
        .left {
            float: left !important;
            width: 80px !important;
        }
        
        .right {
            float: right !important;
            width: 450px !important;
        }
      }
      
      /* Landscape phone to portrait tablet */
      @media (min-width: 680px) and (max-width: 767px) {
        .left {
            float: left !important;
            width: 80px !important;
        }
        
        .right {
            float: right !important;
            width: 550px !important;
        }
      }
      
      
    .row
      .span12
        = link_to 'Everything'
        &#183;
        = link_to 'People I follow'
        
        
    .row
      .span7{:style => 'border-right: 0px dotted gray;'}
        - @items.each do |item|
          = render :partial => "items/item", :locals => {:item => item}
          
          
          
      .span4.offset1
        %h4 Recent activity
        
        :css
          .recent { list-style-type: none; margin: 0; padding: 0; }
          .recent li { border-bottom: 1px solid #ddd; padding: 10px 0; margin: 0; }
        %ul.recent
          - @activities.each do |activity|
            %li
              %small.muted
                #{time_ago_in_words(activity.created_at)} ago
                
              -# %div= render_activity(activity)
              - if activity.trackable_type == 'Comment'
                %div
                  <strong>#{link_to activity.owner.display_name, person_path(activity.owner), :class => 'gray'}</strong> commented on
              
              - if activity.trackable_type == 'Item'
                %div
                  <strong>#{link_to activity.owner.display_name, person_path(activity.owner), :class => 'gray'}</strong> added
                %div= link_to activity.trackable.name, item_path(activity.trackable)
                
              - if activity.trackable_type == 'User'
                %div
                  <strong>#{link_to activity.trackable.display_name, person_path(activity.trackable), :class => 'gray'}</strong> signed up!
                  = render :partial => "people/follow", :locals => {:user => activity.trackable, :size => 'btn-mini'}
                  
                  
              - if activity.trackable_type == 'Vote'
                %div
                  <strong>#{link_to activity.owner.display_name, person_path(activity.owner), :class => 'gray'}</strong> voted
                  - if activity.trackable.vote
                    up
                    %i.icon-arrow-up.dim
                  - else
                    down
                    %i.icon-arrow-down.dim
                    
                  %div= link_to activity.trackable.voteable.name, item_path(activity.trackable.voteable)
                
                
                
                
                
                
- else
  .hero-unit.well
    %h1
      #{configatron.app_name.capitalize}
    %p
      -# A compendium of amusing things.
      A compendium of funny things.
      -# A compendium of delight and amusement.
      -# Discover and share delightful and amusing things.
      
    %p
      = link_to "Sign in with Facebook", omniauth_authorize_path(User, 'facebook'), :class => 'btn btn-primary btn-large'
  
  -# = link_to "Sign up", new_user_registration_path, :class => 'btn btn-primary', :style => 'width: 200px; height: 25px; padding-top: 8px; margin: 25px 0; font-size: 18px;'
    
  -# %p
  -#   or #{link_to 'log in', new_session_path(User.new) }
