
:css
  h2 span { font-weight: normal; font-size: 12px; }

%h2
  = t(:log_in)
  %span
    (#{t(:no_account).humanize}? #{link_to t(:sign_up).humanize, new_session_path(resource_name)})
      
      
- if devise_mapping.omniauthable?
  - resource_class.omniauth_providers.each do |provider|
    - if provider.to_s.downcase == 'facebook'
      %div{:style => 'margin-bottom: 10px;'}
        
        = link_to "#{t(:sign_in_with).humanize} #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider), :class => 'btn btn-primary', :style => 'width: 200px; height: 25px; padding-top: 8px;'
