- show_description = false if local_assigns[:show_description].nil?
- klass = 'thumb' if local_assigns[:klass].nil?

.item
  .name
    =link_to item.user.full_name, person_path(item.user)
      
    %span.muted{:style => 'font-size: 11.5px'}
      #{time_ago_in_words(item.created_at).gsub('about ', '').gsub('alrededor de ', '')} #{t(:ago)}
      
      - if item.user.id == current_user.id
        [#{link_to 'edit', edit_item_path(item)}]
        
  .title{:class => klass}
    =link_to item.name.html_safe, item.url, :target => '_blank'
    
  .pic.mobile
    - if item.youtube?
      <iframe width="100%" src="#{item.embed_url}" frameborder="0" allowfullscreen></iframe>
      
    - elsif item.image.present?
      = link_to image_tag(item.image_url(:standard)), item.url, :target => '_blank'
      
  - if item.description.present?
    .item_description
      - if show_description || item.description.length < 140
        = item.description.html_safe
      - else
        = truncate(item.description, :length => 140, :separator => ' ')
        %small.dim
          = link_to '(more)', slugged_item(item)
          
  .links
    = render :partial => "items/links", :locals => {:item => item}
    
  = item.tags.map {|t| link_to t.name, tag_path(t)}.join(', ').html_safe
  
  .clearfix
