.btn-toolbar
  = render :partial => "items/like_or_unlike", :locals => {:item => item}
    
  .btn-group
    - unless request.path.include?('/items/')
      .btn
        %a{:href => "#{item_url(item)}"}
          %i.icon-comment.dim
          %small= item.comments_count
    .btn
      -# %a{:href => "#shareModal", :'data-toggle' => 'modal'}
      %a{:href => "#", :onclick => "$('#shareLinks').fadeToggle();"}
        %i.icon-share.dim
        %small
          &nbsp;
          
          
.btn-toolbar{:style => 'display:none;', :id => 'shareLinks'}
  .btn-group
    .btn
      %a{:href => "#", :onclick => "Fnnny.pushToFB('#{URI.encode(item_url(item))}')"}
        %i.icon-share.dim
        %small Facebook
        
    .btn
      %a{:href => "https://twitter.com/share?url=#{URI.encode(item_url(item))}&text=This%20is%20fnnny:%20", :target => '_blank'}
        %i.icon-share.dim
        %small Twitter