.btn-toolbar
  = render :partial => "items/like_or_unlike", :locals => {:item => item}
    
  .btn-group
    - unless request.path.include?('/items/')
      .btn
      
        %a{:href => "#{slugged_item(item)}", :rel => "tooltip", :title => 'Comments'}
          %i.icon-comment.dim
          %small= item.comments_count
          
    .btn{:onclick => "$('#shareLinks_#{item.id}').fadeToggle(); return false;"}
      %i.icon-share.dim
      %small
        &nbsp;
          
%div{:style => 'display:none; padding-bottom: 8px;', :id => "shareLinks_#{item.id}"}
  = t(:share_on).humanize
  %a.btn.btn-info.btn-small{:style => 'color: white;', :href => "#", :onclick => "Fnnny.pushToFB('#{URI.encode(item_url(item))}')"}
    %i.icon-share.icon-white
    %small Facebook
    
  = t(:or)
  
  %a.btn.btn-info.btn-small{:style => 'color: white;', :href => "https://twitter.com/share?url=#{URI.encode(item_url(item))}&text=This%20is%20fnnny:%20", :target => '_blank'}
    %i.icon-share.icon-white
    %small Twitter