%h1 Listing items

%table
  %tr
    %th Added by
    %th Name
    %th Description
    %th Url
    -# %th Location
    -# %th Latitude
    -# -# %th Longitude
    -# %th
    -# %th
    -# %th

  - @items.each do |item|
    %tr
      %td= link_to "#{[item.user.first_name, item.user.last_name].join(' ')}"
      %td= item.name
      %td= item.description
      %td= item.url
      -# %td= item.location
      -# %td= item.latitude
      -# %td= item.longitude
      -# %td= link_to 'Show', item
      -# %td= link_to 'Edit', edit_item_path(item)
      -# %td= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Item', new_item_path
