%ul#items
  %li= render :partial => "items/item", :locals => {:item => @item}
  
- if signed_in?
  <div class="fb-comments" data-href="#{slugged_item(@item)}" data-num-posts="10" data-notify="true" data-migrated="1"></div>
- else
  %br
  Want to leave a comment? #{link_to "#{t(:sign_in_with).humanize } Facebook", @auth_url, :class => 'btn btn-primary btn-small'}.

-# finally found something: http://stackoverflow.com/questions/7181315/id-value-in-facebook-comments-create-callback
-#
  :javascript

  FB.Event.subscribe('comment.create',
    function(response) {
      console.log('Comment create callback hit');
      console.log('response.href: ' + response.href);
      console.log('response.commentID: ' + response.commentID);
      
      $.post('#{comments_path}', { fb_id: response.commentID, commentable_id: "#{@item.id}", commentable_type: "#{@item.class.to_s}" }, function(data) {
        console.log('Comment saved'); 
      });
      
      
    }
  );
  
  FB.Event.subscribe('comment.remove',
    function(response) {
      // handle comment deletion
    }
  );