!!! 5

-# from: https://github.com/jameslutley/haml-html5-boilerplate
-# see repo for full commented-out options

-# useful: http://webdesigntutsplus.s3.amazonaws.com/tuts/312_bs/My-Bootstrap-Site-NAVBAR/navbar-examples.html

%html.no-js{:lang => "en"}
  %head
    %meta{ :charset => "utf-8" }
    %meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}
    
    %title= (@title) ? @title : configatron.app_name
    
    %meta{ :name => "description", :content => (@title) ? @title : configatron.app_name }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %meta{ :name => "apple-mobile-web-app-capable", :content => "yes" }

    %meta{ :property => "fb:app_id", :content => "295556897221526" }
    %meta{ :property => "og:site_name", :content => "Fnnny.com" }
    %meta{ :property => "og:url", :content => request.url }
    
    - if @item
      %meta{ :property => "og:type", :content => "article"}
      %meta{ :property => "og:image", :content => "http://res.cloudinary.com/fnnny/image/upload/c_thumb,g_face,h_75,w_75/#{@item.id}.png" }
      
    - if @description
      %meta{ :property => "og:description", :content => @description }
      
    - if @title
      %meta{ :property => "og:title", :content => @title }
      
    -# RSS
    -# ==========================================================================
    -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://feeds.feedburner.com/FEEDNAME"}
    
    %link{:rel => "icon", :type => "image/png", :href => "/assets/fnnny_16.png"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/assets/fnnny_114.png"}
    
    %link{:rel => "stylesheet", :href => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/css/bootstrap-combined.min.css"}
    
    = stylesheet_link_tag "application", :media => "all"
    
    - if @mobile
      :javascript
        var addToHomeConfig = {
          returningVisitor: true,
          animationIn: 'bubble',
          animationOut: 'drop',
          expire: 0
        };
      
        // When ready...
        window.addEventListener("load",function() {
          // Set a timeout...
          setTimeout(function(){
            // Hide the address bar!
            window.scrollTo(0, 1);
          
          }, 0);
        });
      
      = javascript_include_tag 'a2h'
      
    = csrf_meta_tags
    
  %body
    
    #fb-root
    %script{:src => "http://connect.facebook.net/en_US/all.js"}
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"}
    %script{:src => "//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.0/js/bootstrap.min.js"}
    = javascript_include_tag 'fnnny'
    
    .navbar.navbar-inverse.navbar-static-top
      .navbar-inner
        .container
          = link_to configatron.app_name.downcase, root_path, :class => 'logo'
          
          - if user_signed_in?
            
            %ul.nav.pull-right.top-nav
              %li
                %a{:href => new_item_path, :rel => "tooltip", :title => t(:nav_add).humanize}
                  %i.icon-plus.icon-white
                  
              %li
                %a{:href => categories_path, :rel => "tooltip", :title => t(:nav_tags).humanize}
                  %i.icon-tags.icon-white
                  
              %li
                %a{:href => people_path, :rel => "tooltip", :title => t(:nav_people).humanize}
                  %i.icon-user.icon-white
                  
              %li.dropdown
                %a{:href => "#", :class => "dropdown-toggle", :'data-toggle' => "dropdown"}
                  %i.icon-cog.icon-white
                  %b.caret
                  
                %ul.dropdown-menu
                  %li{:style => 'padding-left: 20px;'}
                    Signed in as
                  %li
                    = link_to current_user.display_name, person_path(current_user), :style => 'font-weight: bold; color: #444'
                  %li.divider
                  %li= link_to t(:invite_friends).humanize, friends_person_path(current_user)
                  %li= link_to t(:profile_edit).humanize, edit_user_registration_path
                  %li= link_to t(:log_out).humanize, destroy_user_session_path, :method => :delete
                  %li= link_to t(:get_bookmarklet).humanize, bookmarklet_path
                  
                  - if signed_in? && current_user.admin?
                    %li= link_to "Admin", admin_path, :style => 'color:red;'
                    
                    
            :javascript
              $(function() {
                $('.top-nav').tooltip({
                  selector: "a[rel=tooltip]", placement: 'bottom'
                });
              });
              
          - else
            
            %ul.nav.pull-right
              %li
                = link_to t(:log_in).humanize, omniauth_authorize_path(User, 'facebook'), :style => 'margin-top: 0px; color: white; text-shadow: none;'
              
            .pull-right{:style => 'margin: 4px 4px 0 0;'}
              = link_to t(:sign_up).humanize, omniauth_authorize_path(User, 'facebook'), :class => "btn btn-mini btn-success"
            
    .container
      
      = yield
      
      -# -# eventually this should probably be in the header. and it should definitely be fixed.
      -# - if has_messages = false
      -#   .alert.fade.in
      -#     %a.close{:"data-dismiss" => "alert"} &times;
      -#     <strong>Warning!</strong> Best check yo self, you're not looking too good.
      -#   
      -#   :javascript
      -#     $('.alert').bind('closed', function () {
      -#       alert('phu');
      -#       // post back to app to mark message as read.
      -#     })
        
    = humane_flash_messages.html_safe
    
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      
      ga('create', 'UA-39749053-1', 'fnnny.com');
      ga('send', 'pageview');
      