!!! 5

-# from: https://github.com/jameslutley/haml-html5-boilerplate
-# see repo for full commented-out options

-# useful: http://webdesigntutsplus.s3.amazonaws.com/tuts/312_bs/My-Bootstrap-Site-NAVBAR/navbar-examples.html

%html.no-js{:lang => "en"}

  %head
  
    %meta{ :charset => "utf-8" }
    %title= (@title) ? @title : configatron.app_name
    %meta{ :name => "description", :content => "" }
    %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1" }
    %meta{ :property => "fb:app_id", :content => "295556897221526" }

    -# RSS
    -# ==========================================================================
    -# %link{:rel => "alternate", :type => "application/rss+xml", :title => "RSS", :href => "http://feeds.feedburner.com/FEEDNAME"}
    
    
    %link{:rel => "icon", :type => "image/png", :href => "/assets/fnnny_16.png"}
    %link{:rel => "apple-touch-icon-precomposed", :sizes => "114x114", :href => "/assets/fnnny_114.png"}
          
    <link href='http://fonts.googleapis.com/css?family=Maiden+Orange&text=fnnny&effect=neon' rel='stylesheet' type='text/css'>
    
    = stylesheet_link_tag "application", :media => "all"
    
    %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"}
    -# :javascript
    -#   window.jQuery || document.write('<script src="/js/jquery-1.7.2.min.js"><\/script>')
    -# = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"
    
    = csrf_meta_tags
  %body
    
    #fb-root
    <script src="http://connect.facebook.net/en_US/all.js"></script>
    
    :javascript
    
      // fb comments code
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=295556897221526";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      
      
      FB.init({
        appId:'295556897221526', cookie:true,
        status:true, xfbml:true
      });
      
      // fb share code (https://developers.facebook.com/docs/reference/javascript/FB.ui/)
      function pushToFB(lnk, cap) {
        FB.ui({ method: 'feed', caption: cap, link: lnk});
      }
      
    -# from: http://www.w3resource.com/twitter-bootstrap/navbar-tutorial.php
    #wrap
      .navbar.navbar-fixed-top.navbar-inverse
        .navbar-inner
          .container
            = link_to configatron.app_name, root_path, :class => 'font-effect-neon'
              
            %ul.nav.pull-right
              - if user_signed_in?
                %li.dropdown
                  %a{:href => "#", :class => "dropdown-toggle", :'data-toggle' => "dropdown"}
                    = current_user.display_name
                    %b.caret
                
                  %ul.dropdown-menu
                    %li= link_to 'View profile', people_path(current_user)
                    %li= link_to 'Edit profile', edit_user_registration_path
                    %li= link_to "Log Out", destroy_user_session_path, method: :delete
                    
                    - if signed_in? && current_user.admin?
                      %li= link_to "Admin", admin_path, :style => 'color:red;'
                  
              - else
                %li
                  = link_to "Sign Up", omniauth_authorize_path(User, 'facebook')
                %li
                  = link_to "Log In", omniauth_authorize_path(User, 'facebook')
                  
      .container
      
        -# eventually this should probably be in the header. and it should definitely be fixed.
        - if has_messages = false
          .alert.fade.in
            %a.close{:"data-dismiss" => "alert"} &times;
            <strong>Warning!</strong> Best check yo self, you're not looking too good.
          
          :javascript
            $('.alert').bind('closed', function () {
              alert('phu');
              // post back to app to mark message as read.
            })
            
        = yield
        
        #push
    #footer
      = link_to 'get bookmarklet', bookmarklet_path
    
    = javascript_include_tag 'application'
    
    = humane_flash_messages.html_safe
    
    -#
    -# Asynchronous Google Analytics
    -# Change UA-XXXXX-X to be your site's ID
    -# mathiasbynens.be/notes/async-analytics-snippet
    :javascript
      var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
      (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
      g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
      s.parentNode.insertBefore(g,s)}(document,'script'));