
<%= yield %><br /><br />

___<br /><br />

Change your email <a href="<%= person_url(@user, :host => 'fnnny.com') %>" target="_blank">preferences</a> &nbsp;&#183;&nbsp; Install the <%= configatron.app_name %> <a href="<%= bookmarklet_url(:host => 'fnnny.com') %>">bookmarklet</a>. &nbsp;&#183;&nbsp; Invite you friends to <%= configatron.app_name %> <br /><br />